<main>
<app-header></app-header>
<div class="row">    
    <div class="card">
        <ul class="action-buttion">
            <li>
                <h3>Upload your file here to generate charts</h3>
                <input #myInput type="file" class="form-control" (change)="onChange($event.target.files)" placeholder="Upload file" accept=".txt">
            </li>
            <li *ngIf="canGenerate">
                <button (click)="reset()" >
                    <span>Reset</span>
                </button>
            </li>
            <li *ngIf="isGenerate">
                <button (click)="generate()" >
                    <span>Generate</span>
                </button>
            </li>
        </ul>   
    </div>      
</div>
<div *ngIf="chartData.length > 0 && canGenerate">
    <div *ngFor="let singleChartData of chartData">
        <app-spline-chart *ngIf="singleChartData.chart.type==='line'" [chartData]="singleChartData" class="card"></app-spline-chart>
        <app-column-chart *ngIf="singleChartData.chart.type==='column'" [chartData]="singleChartData" class="card"></app-column-chart>
    </div>
</div>
</main>
